<md-toolbar class="toolbarMain">
	<div class="md-toolbar-tools">	    		        
        <h2>
          	<span>{{personInfo.data.person.name}}</span>
        </h2>	  
        <div flex></div>
        <md-button class="md-icon-button" aria-label="close" ui-sref="home()">
        	<md-icon md-svg-icon="{{('navigation' | icon:'close')}}"></md-icon>
    	</md-button>
    </div>      
</md-toolbar>
<md-content flex class="transparent" layout-padding>
	<div layout="row">
		<div flex="25" layout="column" class="p_20">
			<div layout="row" layout-align="center center">
				<!--carousel-->
				<ul rn-carousel class="m0 bm-carousel personPicture" rn-carousel-auto-slide="5">
				  	<li ng-repeat="profile in personInfo.data.images.profiles">
				  		<!--Img carousel-->
				  		<img ng-src="http://image.tmdb.org/t/p/w300{{profile.file_path}}" alt="carouselImg">
				  		<!--Title carousel movie-->
				  	</li>  	
				</ul>
    		</div>
    		<div class="p_20 colorWhite" layout="column">
    			<h3 class="md-title">Person Facts</h3>
    			<div class="md-subhead">
    				<span class="bold">Known Credits:</span>
    				<span>{{personInfo.data.credits.cast.length + personInfo.data.credits.crew.length}}</span>
    			</div>
    			<div class="md-subhead" ng-if="personInfo.data.person.birthday != ''">
    				<span class="bold">Birthday:</span>
    				<span>{{personInfo.data.person.birthday | date:'dd MMMM yyyy'}}</span>
    			</div>
    			<div class="md-subhead" ng-if="personInfo.data.person.place_of_birth != ''">
    				<span class="bold">Place of Birth:</span>
    				<span>{{personInfo.data.person.place_of_birth}}</span>
    			</div>	    		
    		</div>
		</div>
		<div flex class="colorWhite" layout="column">
			<div>
				<h3 class="md-tittle">Biography</h3>
				<div class="md-subhead" ng-bind-html="personInfo.data.person.biography | unsafe" ng-if="personInfo.data.person.biography != ''">
				
				</div>
				<div class="md-subhead" ng-if="personInfo.data.person.biography == ''">
					No one has entered a biography for Billy Murray.
				</div>
			</div>
			<div flex class="colorWhite">
				<h3 class="md-tittle">Tags Movies</h3>
				<div class="md-subhead" layout="row" layout-wrap>
					<div ng-repeat="known_for in personInfo.data.known_for" class="cursor" ui-sref="home.movie({id: known_for.media.id})">
						<md-tooltip md-direction="top">
				          	{{known_for.media.title}}
				        </md-tooltip>
						<img ng-if="known_for.media.poster_path != null" ng-src="http://image.tmdb.org/t/p/w300{{known_for.media.poster_path}}" class="listMovImgKnown" alt="{{known_for.media.title}}">
				        <img ng-if="known_for.media.poster_path == null" ng-src="./img/no_avatar.png" class="listMovImgKnown" alt="{{known_for.media.title}}">
					</div>
				</div>
			</div>
			<div layout="row" class="vert_middle">
				<div flex></div>
				<div layout="row" class="vert_middle">
					<div>
						Sort By 
						<span ng-if="ngModelPerson.sortBy == 'year'">Year</span>
						<span ng-if="ngModelPerson.sortBy == 'name'">Name</span>
						<span ng-if="ngModelPerson.sortBy == 'media_type'">Media Type</span>
					</div>
					<div>
						<md-menu>
					      	<md-button aria-label="opens option search" class="md-icon-button m0" ng-click="$mdOpenMenu($event)">
					        	<md-icon class="colorWhite" md-menu-origin md-svg-icon="{{('navigation' | icon:'arrow_drop_down')}}"></md-icon>
					      	</md-button>
					      	<md-menu-content width="4" class="blackMate">
					        	<md-menu-item>
					          		<md-button ng-click="ngModelPerson.sortBy = 'year';sortCredits($event, ngModelPerson.sort);">
					            		<md-icon class="colorWhite" md-svg-icon="{{('social' | icon:'person')}}" md-menu-align-target></md-icon>
					            		<span class="colorWhite">Year</span>
					          		</md-button>
					        	</md-menu-item>
					        	<md-menu-item>
					          		<md-button ng-click="ngModelPerson.sortBy = 'name';sortCredits($event, ngModelPerson.sort);">
					            		<md-icon class="colorWhite" md-svg-icon="{{('av' | icon:'movie')}}"></md-icon>
					            		<span class="colorWhite">Name</span>
					          		</md-button>
					        	</md-menu-item>
					      	</md-menu-content>
					    </md-menu>
					</div>
					<div>
						<md-button class="md-icon-button" aria-label="sortActor" ng-click="sortCredits($event, true);" ng-if="ngModelPerson.sort == false">
				          	<md-icon class="colorWhite" md-svg-icon="{{('navigation' | icon:'arrow_upward')}}" ></md-icon>
				        </md-button>        
				        <md-button class="md-icon-button" aria-label="sortActor" ng-click="sortCredits($event, false);" ng-if="ngModelPerson.sort == true">
				          	<md-icon class="colorWhite" md-svg-icon="{{('navigation' | icon:'arrow_downward')}}"></md-icon>
				        </md-button>
					</div>
				</div>
			</div>
			<div flex class="colorWhite" ng-repeat="cast in [personInfo.data.credits.cast]">
				<h3 class="md-tittle">Acting</h3>
				<div layout="column">
					<md-list flex person-cast-crew="Acting" ng-model="cast" >
				        <!--personActing.html-->				      	
				    </md-list>
				</div>
			</div>
			<div flex class="colorWhite" ng-repeat="crew in [personInfo.data.credits.crew]">
				<h3 class="md-tittle">Production</h3>
				<div layout="column" >
					<md-list flex person-cast-crew="Production" ng-model="crew">				      	
				        <!--personCrew.html-->				        					      	
				    </md-list>
				</div>
			</div>
			<div flex class="colorWhite" ng-repeat="crew in [personInfo.data.credits.crew]">
				<h3 class="md-tittle">Writing</h3>
				<div layout="column">
					<md-list flex person-cast-crew="Writing" ng-model="crew">				      	
				        <!--personCrew.html-->					      	
				    </md-list>
				</div>
			</div>
			<div flex class="colorWhite" ng-repeat="crew in [personInfo.data.credits.crew]">
				<h3 class="md-tittle">Directing</h3>
				<div layout="column">
					<md-list flex person-cast-crew="Directing" ng-model="crew">				      	
				        <!--personCrew.html-->				        					      	
				    </md-list>
				</div>
			</div>
		</div>			
	</div>
</md-content>