<md-dialog aria-label="" ng-cloak style="width: 50%;">    
    <md-toolbar class="z_index_2 relative box-shadown-nav" >
        <h2 flex class="md-toolbar-tools" layout="row">
            Location
        </h2>    
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; " class="p_20">
        Hola Mundo 
        {{dataMovie}}
    </md-dialog-content>
    <div class="md-actions" layout="row">    
        <span flex>                
        </span>
        <md-button close-modal>
            Ok
        </md-button>
    </div>    
</md-dialog>