<md-dialog aria-label="Movie Info" ng-cloak flex="50" flex-sm="100" flex-xs="100" class="blackMateModal" get-movie ng-model="dataMovie">    
    <!--head toobar modal-->
    <md-toolbar class="z_index_2 relative toolbarMain" layout="row">
        <h2 flex class="md-toolbar-tools colorWhite" layout="row">
            <!--title movie-->
            <div>
                {{dataMovie.dataMovie.original_title}}
            </div>
            <div flex></div>
            <!--close modal-->
            <md-button class="md-icon-button" aria-label="close" close-modal>
                <md-icon md-svg-icon="{{('navigation' | icon:'close')}}"></md-icon>
            </md-button>
        </h2>          
    </md-toolbar>
    <md-dialog-content layout-padding>
        <div layout="row" layout-sm="column" layout-xs="column" class="colorWhite">
            <!--poster movie-->
            <div flex class="center poster">
                <img ng-if="dataMovie.dataMovie.poster_path != null" ng-src="http://image.tmdb.org/t/p/w300{{dataMovie.dataMovie.poster_path}}" class="md-card-image" alt="poster">
                <img ng-if="dataMovie.dataMovie.poster_path == null" ng-src="./img/no_image.png" class="md-card-image" alt="poster">
            </div>
            <!--content info movie-->
            <div flex layout="column">
                <!--type-->
                <div layout="row" class="vert_middle">
                    <div flex layout="column">
                        <span class="md-title" ng-if="dataMovie.dataMovie.media_type == 'tv'">Tv</span>
                        <span class="md-title" ng-if="dataMovie.dataMovie.media_type == 'movie' || dataMovie.dataMovie.media_type == undefined">Movie</span>
                    </div>
                    <div ng-if="dataMovie.dataMovie.popularity != ''" class="vert_middle">
                        <md-icon class="colorWhite" md-svg-icon="{{('action' | icon:'favorite')}}"></md-icon> {{dataMovie.dataMovie.popularity | number:0}} K
                    </div>
                </div>
                
                <!--date-->
                <span class="md-subhead" ng-if="dataMovie.dataMovie.release_date != ''">{{dataMovie.dataMovie.release_date | DateStringToFormat | date: 'MMM yyyy'}}</span>
                <!--description-->
                <div class="md-subhead f_15 mt_10">
                    {{dataMovie.dataMovie.overview }}
                </div>
                <!--Language && popularity-->
                <div class="mt_10" layout="row">
                    <div>
                        <span class="md-title f_15">Language: </span>
                        <span class="md-subhead f_15" ng-repeat="sponen in dataMovie.dataMovie.spoken_languages">{{sponen.name}}<span ng-if="!$last">, </span></span>
                    </div>                    
                </div>
                <div class="mt_10" layout="row">
                    <div>
                        <span class="md-title f_15">Genere: </span>
                        <span class="md-subhead f_15" ng-repeat="genere in dataMovie.dataMovie.genres">{{genere.name}}<span ng-if="!$last">, </span></span>
                    </div>                    
                </div>
                <div class="mt_10" layout="row">
                    <div>
                        <span class="md-title f_15">Cast: </span>
                        <span class="md-subhead f_15" ng-repeat="cast in dataMovie.dataCredits.cast">{{cast.name}}<span ng-if="!$last">, </span></span>
                    </div>                    
                </div>
            </div>
        </div>        
    </md-dialog-content>    
</md-dialog>