<!--Carousel-->
<call-popular ng-model="navBanner">
</call-popular>
<!--Toolbar search & sort-->
<md-toolbar ng-if="ngModel.search != ''" class="transparent delay">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
          	<md-icon md-svg-icon="{{('av' | icon:'movie')}}"></md-icon>
        </md-button>
        <h2>
          	<span>Results for "{{ngModel.search}}"</span>
        </h2>
        <span flex></span>
        <!--Icons Sort-->
        <md-button class="md-icon-button" aria-label="sort" ng-click="ngModel.sort = 'dateUp'" ng-if="ngModel.sort == 'dateDown'">
          	<md-icon md-svg-icon="{{('navigation' | icon:'arrow_upward')}}" ></md-icon>
        </md-button>        
        <md-button class="md-icon-button" aria-label="sort" ng-click="ngModel.sort = 'dateDown'" ng-if="ngModel.sort == 'dateUp' || (ngModel.search != '' && ngModel.sort == '')">
          	<md-icon md-svg-icon="{{('navigation' | icon:'arrow_downward')}}"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<!--Content list-->
<div layout-xs="column" layout="row" layout-wrap ng-class="{'mt_8': ngModel.search == ''}">	
	<!--Movies-->
	<div flex-xs flex-gt-xs="33" flex-gt-md="33" layout="column" ng-repeat="movie in listMovies" >
		<md-card class="cardColor">
			<md-card-header>
          		<md-card-avatar>
            		<md-icon ng-if="movie.media_type == 'tv'" class="md-avatar-icon" md-svg-icon="{{('hardware' | icon:'tv')}}"></md-icon>
		            <md-icon ng-if="movie.media_type == 'movie' || movie.media_type == 'noDefined'" class="md-avatar-icon" md-svg-icon="{{('av' | icon:'movie')}}"></md-icon>
          		</md-card-avatar>
          		<md-card-header-text>
          			<span class="md-title colorWhite" ng-if="movie.media_type == 'tv'">Tv</span>
		            <span class="md-title colorWhite" ng-if="movie.media_type == 'movie' || movie.media_type == 'noDefined'">Movie</span>
		            <span class="md-subhead colorWhite">{{movie.date | DateStringToFormat | date: 'MMM yyyy'}}</span>
          		</md-card-header-text>
        	</md-card-header>
		    <img ng-if="movie.backdrop_path != null" ng-src="http://image.tmdb.org/t/p/w300{{movie.backdrop_path}}" class="height_214 md-card-image" alt="">
		    <img ng-if="movie.backdrop_path == null" ng-src="./img/no_image.png" class="height_214 md-card-image" alt="">
		    <md-card-title>
		        <md-card-title-text class="cut_text">
		           	<span class="md-headline cut_text colorWhite">{{movie.original_title}}&nbsp;</span>
		        </md-card-title-text>
		    </md-card-title>
		    <md-card-content class="min_h_70">
		        <p class="md-subhead colorWhite f_15">
		        	{{movie.overview.substring(0, 100)}}...
		        </p>
		    </md-card-content>
		    <md-card-actions layout="row" layout-align="end center" class="colorWhite">
		        <md-button show-more ng-model="movie">Read +</md-button>
		    </md-card-actions>
		</md-card>	
	</div>

</div>