<!--Carousel-->
<call-popular ng-model="navBanner" ng-if="ngModel.search == ''"></call-popular>

<!--Toolbar search & sort-->
<md-toolbar class="transparent delay z-index1" ng-class="{'mt_60': ngModel.search != ''}">
    <div class="md-toolbar-tools">
    	<!--Icon results-->
        <md-button class="md-icon-button" aria-label="icon_results">
          	<md-icon md-svg-icon="{{('av' | icon:'movie')}}"></md-icon>
        </md-button>
        <!--Title results-->
        <h2>
          	<span ng-if="ngModel.search != ''">Results for "{{ngModel.search}}"</span>
          	<span ng-if="ngModel.search == ''">Popular movies</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="back actors" ng-click="ngModel.actorMovies = ''" ng-if="ngModel.actorMovies != ''">
          	<md-icon md-svg-icon="{{('navigation' | icon:'arrow_back')}}" ></md-icon>
        </md-button>

        <!--Icons Sort Actors-->
        <div ng-if="ngModel.actorMovies == '' && ngModel.search != ''">

	        <md-button class="md-icon-button" aria-label="sortActor" ng-click="ngModel.sortActor = true" ng-if="ngModel.sortActor == false">
	          	<md-icon md-svg-icon="{{('navigation' | icon:'arrow_upward')}}" ></md-icon>
	        </md-button>        
	        <md-button class="md-icon-button" aria-label="sortActor" ng-click="ngModel.sortActor = false" ng-if="ngModel.sortActor == true || (ngModel.search != '' && ngModel.sortActor == true)">
	          	<md-icon md-svg-icon="{{('navigation' | icon:'arrow_downward')}}"></md-icon>
	        </md-button>
	    </div>

        <!--Icons Sort Movies Actors-->
        <div ng-if="ngModel.actorMovies != '' && ngModel.search != ''">

	        <md-button class="md-icon-button" aria-label="sortMovieActor" ng-click="ngModel.sortMovieActor = true" ng-if="ngModel.sortMovieActor == false">
	          	<md-icon md-svg-icon="{{('navigation' | icon:'arrow_upward')}}" ></md-icon>
	        </md-button>        
	        <md-button class="md-icon-button" aria-label="sortMovieActor" ng-click="ngModel.sortMovieActor = false" ng-if="ngModel.sortMovieActor == true || (ngModel.search != '' && ngModel.sortMovieActor == true)">
	          	<md-icon md-svg-icon="{{('navigation' | icon:'arrow_downward')}}"></md-icon>
	        </md-button>

	    </div>

    </div>
</md-toolbar>

<!--Content list-->
<div layout-xs="column" layout="row" layout-wrap>	
	<!--Movies - popular -->
	<div flex-xs flex-gt-xs="50" flex-gt-md="33" layout="column" ng-repeat="movie in listMovies" ng-include="('cardMovie' | url).url" ng-if="ngModel.search == '' || ngModel.searchBy == 'movie'">
		<!--cardMovie.html-->
	</div>
	<!--Movies - actors -->
	<div flex-xs flex-gt-xs="50" flex-gt-md="25" layout="column" ng-repeat="person in listMovies" ng-include="('cardPerson' | url).url" ng-if="ngModel.search != '' && ngModel.searchBy == 'person'">
		<!--cardPerson.html-->
	</div>

</div>