<md-content flex layout="column" class="blackMate">
	<!--toolbar main-->
	<md-toolbar class="toolbarMain z-index2">
	    <div class="md-toolbar-tools">
	    	<!--icon application-->
	        <md-button class="md-icon-button" aria-label="Settings">
	          	<md-icon md-svg-icon="{{('maps' | icon:'local_movies')}}"></md-icon>
	        </md-button>
	        <!--title aplication-->
	        <h2 hide-sm hide-xs>
	          	<span>BucketMovies</span>
	        </h2>	        
	        <span flex="5" hide-sm hide-xs></span>
	        <!--icon search-->
	        <span>
	        	<md-icon md-svg-icon="{{('action' | icon:'search')}}"></md-icon>
	        </span>
	        <!--search-->
	        <span flex class="div_search">
	        	<input type="text" class="search" placeholder="Search" id="search" ng-model="listMovies.search">
	        </span>
	        <!--clean search-->
	        <span flex="10">	        	
	        	<md-button class="md-icon-button" aria-label="Favorite" ng-if="listMovies.search != ''" ng-click="listMovies.search = '';listMovies.sort = '';">
		          	<md-icon md-svg-icon="{{('navigation' | icon:'close')}}"></md-icon>
		        </md-button>
	        </span>
	    </div>
	</md-toolbar>
	<!--contenido-->
	<md-content flex list-movies ng-model="listMovies" class="mt-64 blackMate">
		<!--carousel - toolbar - List-->
	</md-content>
</md-content>